body {
    background-color: darkslategray;
}



#header {
    background: lightskyblue;
    grid-area: header;
}

#advert {
    color: white;
    background: black;
    grid-area: advert;
}

#content {
    background: paleturquoise;
    grid-area: content;
}

#footer {
    background: lightpink;
    grid-area: footer;
}
.container {
    margin: auto;
    font-size: 1.5em;
    width: 90%;
    display: grid;
    background: lightgray;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas: 
        "advert header"
        "advert content"
        "advert content"
        "advert footer";
    
    
}
